<div class="content-wrapper"  style="min-height:1px">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-2 col-sm-6 mb-2 text-center">
                    <a [routerLink]="['./user-master']" [routerLinkActive]="['router-link-active']" class="no-decoration cool-link">
                        <div>
                            <i class="fa fa-fw fa-user-plus fa-custom-size" ></i>
                            <strong class="d-block">Users</strong>
                        </div>
                    </a>
            </div>

            <div class="col-xl-2 col-sm-6 mb-2 text-center">
                <a [routerLink]="['./Project-configuration']" [routerLinkActive]="['router-link-active']"
                    class="no-decoration cool-link">
                    <div>
                        <i class="fa fa-fw fa-cogs fa-custom-size"></i>
                        <strong class="d-block">Project Configuration</strong>
                    </div>
                </a>
            </div>
  
        </div>
    </div>
  </div>